<ion-tabs>
  <!-- Pintamos el menú inferior -->
  <ion-tab-bar color="menu" slot="bottom">
    <ion-tab-button class="menu-button" color="menu" tab="home">
      <fa-icon icon="house-chimney"></fa-icon>
    </ion-tab-button>
    <ion-tab-button class="menu-button" color="menu" tab="favoritos">
      <fa-icon icon="heart"></fa-icon>
    </ion-tab-button>
    <ion-tab-button class="menu-button" color="menu" tab="insignias">
      <fa-icon icon="certificate"></fa-icon>
    </ion-tab-button>
    <ion-tab-button class="menu-button" color="menu" tab="perfil">
      <fa-icon icon="user"></fa-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
