<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backLink" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">{{recetaSeleccionada.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--Se muestra la ficha de la receta seleccionada-->
<ion-content>
  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title class="item-title">{{recetaSeleccionada.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-p">
      <p class="info-p">Ingredientes:</p>
        <ul class="ul-ingredientes">
          <li *ngFor="let item of recetaSeleccionada.listaIngredientes">{{item}}</li>
        </ul>
      <p class="info-p">Instrucciones:</p>
      <ul>
        <li *ngFor="let item of recetaSeleccionada.instrucciones">{{item}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <div class="bottom-button-box">
    <ion-button color="primary" (click)="almacenarFavoritos()" [disabled]="recetaSeleccionada.isFavorita"><fa-icon icon="heart"></fa-icon></ion-button>
    <ion-button color="primary" (click)="almacenarRealizadas()" [disabled]="recetaSeleccionada.realizada"><fa-icon icon="check"></fa-icon></ion-button>
  </div>

</ion-content>
